.ContainerRest{
  background-image: url("../public/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 60px;
}

.Title{
  font-family: 'Ms Madi', cursive;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.441);;
  width: 220px;
  border-radius: 10px;
  text-align: center;
}

.CartRest{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 40px;
}

.TitleDescriptionRest{
  width: 500px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.441);
  padding: 40px;
  text-align: justify;
}
.RestTitle{
  color: black;
  font-size: 20px;
}
.RestParrafo{
  color: black;
  font-size: 18px;
}

.LinkRest{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 8rem;
}

.RestTitle{
    color: black;
    font-size: 20px;
}

.EmblaGastronomy {
    --slide-spacing: 1rem;
    --slide-size: 70%;
    --slide-height: 19rem;
    margin-top: 30px;
  }
  .EmblaViewportGatronomy {
    overflow: hidden;
  }
  .EmblaContainerGastronomy {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    flex-direction: row;
    height: auto;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .EmblaSlideGastronomy {
    overflow: hidden;
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .EmblaSlideImgGastronomy {
    display: block;
    height: 40rem;
    width: 100%;
    object-fit: cover;
  }
  

  /* Carousel SHOW MORE */

  .ContainerButton{
    transform: translate3d(-60px, -60px, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .ButtonMore{
    background-color: transparent;
    border: none;
  }
  
  .ButtonMore a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  .IconArrow {
    animation: move-right 1s linear infinite;
    margin-top: -20px
  }
  
  @keyframes move-right {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(30px);
    }
  }
