.EmblaCarouselSpa {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height: 19rem;
    margin-top: 52px;
  }
  .EmblaViewportSpa {
    overflow: hidden;
  }
  .EmblaContainerCarousel {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-x;
    flex-direction: column;
      height: 40rem;
    margin-top: calc(var(--slide-spacing) * -1);
  }
  .EmblaSlideCarousel {
    overflow: hidden;
    flex: 0 0 var(--slide-size);
    min-height: 0;
    padding-top: var(--slide-spacing);
    position: relative;
  }
  .EmblaSlideImgSpa {
    display: block;
    height: 40rem;
    width: 100%;
    object-fit: cover;
  }
  
.ContainerButtonMoreSpa{
  transform: translate3d(-60px, -60px, 0);
  display: flex;
  justify-content: flex-end;
}

.ButtonMoreSpa{
  background-color: transparent;
  border: none;
}

.ButtonMoreSpa a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.IconArrow {
  animation: move-right 1s linear infinite;
  margin-top: -20px
}

@keyframes move-right {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

.ContainerVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
    background-image: url(https://cache.marriott.com/content/dam/marriott-renditions/HNMMC/hnmmc-ocean-0207-hor-clsc.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1215px:*);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px;
}



/* Emble carusel más texto al costado */

.ContainerCarousel{
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 4rem
}

.ContainerCarousel h1{
  font-size: 1.9rem;
}

.ContainerCarousel p{
  width: 28rem;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 14px;
}

.parrafoCarousel{
  text-align: justify;
}

.EmblaSpa {
  overflow: hidden;
}
.EmblaSpaContainer {
  display: flex;
}
.EmblaSpaSlide {
  flex: 0 0 100%;
  min-width: 0;
}

/* Fin de emble carousel más texto al costado*/
